h1,
h2,
h3 {
  color: white;
}

* {
  margin: 0 auto;
}
div.container {
  background-color: black;
  box-sizing: border-box;
  height: 450px;
}
div.img {
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(../img/game-over.jpg);
  width: 600px;
  height: 300px;
  background-color: black;
}

.items {
  text-align: center;
}

#titulo {
  margin: 0px 0px 10px 0px;
}

button {
  background-color: #49296d;
  color: #6fc28a;
  width: 150px;
  height: 40px;
  font-size: 1.3em;
  font-weight: bold;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

h2#palavra {
  margin-bottom: 20px;
  color: #6fc28a;
  font-weight: bold;
  font-size: 2rem;
}
